body {

	font-family: 'PT Sans'
	
	,sans-serif;


	
	
		background-color: #211f20;
	
	
		background-position: top center;
	
	
		background-attachment: scroll;
	
	
		background-repeat: repeat;
	

}

a, a:hover, a:focus, .cor-principal, .menu a:hover, .atributo-comum a:hover span, .atributo-comum .active a span { color: #d4af3d; } /* Cor Principal - Textos e Links */
.fundo-principal, .botao.principal, .botao.principal:hover, .menu li:hover > a .fundo-secundario, .flex-control-paging li a.flex-active, .dropdown-menu > li > a:hover, .filtro.lista ul li label:hover, .filtro.lista ul li.active label , .menu-simples li a:hover, .menu-simples li.active a { background-color: #d4af3d; } /* Cor Principal - Background */
.borda-principal, .atributos ul li a:hover, .atributos ul li.active a, .tema-scuro .nav-tabs li.active a, .elastislide-carousel ul li.active a { border-color: #d4af3d; } /* Cor Principal - Bordas */



.cor-secundaria { color: #d4af3d; }
.fundo-secundario { background-color: #d4af3d; }
.borda-secundaria { border-color: #d4af3d; }



.titulo {
	font-family: 'PT Sans'
  
  , serif;
	
	
}



#cabecalho {

	
		
		
		background-color: #211f20;
		
		
		background-position: top center;
		
		
			background-repeat: repeat;
		
	
}



.barra-inicial { background-color: #211f20; }


.barra-inicial .canais-contato span, .barra-inicial .canais-contato a, .barra-inicial .canais-contato i { color: #FFFFFF; }



#rodape .institucional {
	
		
		
		background-color: #211f20;
		
		
		background-position: top center;
		
		
			background-repeat: repeat;
		
	
}


.botao.principal.botao-comprar, .botao.principal.grande, .acoes-produto-responsiva .tag-comprar { background-color: #d6ac14; }



